<% if @user %>
  <h2 class="container-fluid text-center">Workouts Added by: <%=link_to @user.email, user_path(@user)%>!</h2>
<%else %>
  <h2 class="container-fluid text-center">All Workouts!</h2>

  <br>

  <h3>Filter Workouts:</h3>
  <div class="fluid">
    <%= form_tag("/workouts", method: "get") do %>
      Body Focus: <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), include_blank: true %>
      Workout Type: <%= select_tag "training_type", options_from_collection_for_select(@training_types, "id", "name"), include_blank: true %>
      Difficulty Level: <%= select_tag "difficulty", options_for_select([ 1,2,3,4,5]), include_blank: true %>
      Min Time: <%= text_field_tag 'min', nil, placeholder: 'Minutes', size: 3, include_blank: true%>
      Max Time: <%= text_field_tag 'max', nil, placeholder: 'Minutes', size: 3, include_blank: true%>
      <%= submit_tag "Filter" %>
    <% end %>
    <br>
    <br>
  </div>
<%end%>

<div class="container">
  <div class="row">
    <% @workouts.each do |workout| %>
      <div class="col-sm-4">
        <div class="container-fluid text-center"> <a href="/workouts/<%=workout.id%>"> <%=workout.name%><br>
          <!--I know I can do <%= link_to workout.name, workout_path(workout) %> but I want image to be wrapped link too-->
        <img src="<%=workout.photo%>" width="150" height="120" alt="Image"><br></a>
        <%=workout.training_type_name%> || <%=workout.duration%> Minutes</div>
        <br>
        <br>
      </div>
    <% end %>
  </div>
</div>
