<h2 class="container-fluid text-center"> <%=@workout.name %> </h2>

<%= link_to "Back", workouts_path %> ||
<% if @workout.user_id==current_user.id %>
  <%= link_to "Edit", edit_workout_path %> || <%= link_to 'Delete', @workout, method: :delete %>
<% end %> <br>

  <iframe class="text-center" width="1000" height="492.5" src="<%=@workout.website %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
   <p> Duration: <%=@workout.duration %> </p>
   <p> Difficulty: <%=@workout.difficulty %> </p>
   <p> Body Focus: <%=@workout.body_focus %> </p>
   <p> Training Type: <%=@workout.training_type %> </p>
   <p> Equipment Needed: <%=@workout.equipment_needed %> </p>
   <p> Website: <a href="<%=@workout.website %>" target="_blank" ><%=@workout.website %></a> </p>
