<div class="container-fluid text-center">
  <h2> <%=@workout.name %> </h2>
  <p> Added by: <%= link_to @workout.user.email, user_path(@workout.user)%> </p>
  <p> <%= last_updated @workout %></p>
</div>

<%= render 'action_options' %>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="<%=@workout.website %>" allowfullscreen></iframe>
</div>

<p> Duration: <%=@workout.duration %> </p>
<p> Difficulty: <%=@workout.difficulty %> </p>
<p> Body Focus: <%=@workout.category.name %> </p>
<p> Training Type: <%=@workout.training_type_name %> </p>
<p> Website: <a href="<%=@workout.website %>" target="_blank" ><%=@workout.website %></a> </p>
    Equipment Needed:
    <ul>
      <% @workout.equipments.each do |equipment| %>
        <li> <%= equipment.name %> </li>
      <%end%>
    </ul>
