<h1>Upcoming Time Slots</h1>
<table border="1">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>View</th>
    <%if params[:user_id]%>
      <th>Your Comments</th>
      <th>Edit Sign Up</th>
      <th>Delete Sign Up</th>
    <%elsif @user.admin%>
      <th>Edit</th>
      <th>Delete</th>
    <%end%>
  </tr>
  <%ordered_time_slots(@future_time_slots).each do |time_slot|%>
    <tr>
      <td><%=readable_date(time_slot)%></td>
      <td><%=readable_start_time(time_slot)%></td>
      <td><%=readable_end_time(time_slot)%></td>
      <%if params[:user_id]%>
        <td><%=link_to "Details", "/users/#{params[:user_id]}/time_slots/#{time_slot.id}"%></td>
      <%else%>
        <td><%=link_to "Details", time_slot_path(time_slot)%></td>
      <%end%>
      <%if params[:user_id]%>
        <%user_time_slot = UserTimeSlot.find_by(user_id: @user.id, time_slot_id: time_slot.id)%>
        <td><%=user_time_slot.comments%></td>
        <td><%=button_to "Edit", edit_user_time_slot_path(user_time_slot), :method => :get%></td>
        <td><%= button_to "Delete", user_time_slot, :method => :delete%></td>
      <%elsif @user.admin%>
        <td><%=button_to "Edit", edit_time_slot_path(time_slot), :method => :get%></td>
        <td><%= button_to "Delete", time_slot, :method => :delete%></td>
      <%end%>
    </tr>
  <%end%>
</table>

<h1>Past Time Slots<h1>
  <table border="1">
    <tr>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>View</th>
      <%if params[:user_id]%>
        <th>Your Comments</th>
        <th>Edit Sign Up</th>
        <th>Delete Sign Up</th>
      <%elsif @user.admin%>
        <th>Edit</th>
        <th>Delete</th>
      <%end%>
    </tr>
    <%ordered_time_slots(@past_time_slots).each do |time_slot|%>
      <tr>
        <td><%=readable_date(time_slot)%></td>
        <td><%=readable_start_time(time_slot)%></td>
        <td><%=readable_end_time(time_slot)%></td>
        <%if params[:user_id]%>
          <td><%=link_to "Details", "/users/#{params[:user_id]}/time_slots/#{time_slot.id}"%></td>
        <%else%>
          <td><%=link_to "Details", time_slot_path(time_slot)%></td>
        <%end%>
        <%if params[:user_id]%>
          <%user_time_slot = UserTimeSlot.find_by(user_id: @user.id, time_slot_id: time_slot.id)%>
          <td><%=user_time_slot.comments%></td>
          <td><%=button_to "Edit", edit_user_time_slot_path(user_time_slot), :method => :get%></td>
          <td><%= button_to "Delete", user_time_slot, :method => :delete%></td>
        <%elsif @user.admin%>
          <td><%=button_to "Edit", edit_time_slot_path(time_slot), :method => :get%></td>
          <td><%= button_to "Delete", time_slot, :method => :delete%></td>
        <%end%>
      </tr>
    <%end%>
  </table>
