<table border="1">
  <tr>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>View</th>
    <%if params[:user_id]%>
      <th>Your Comments</th>
      <th>Delete Sign Up</th>
      <th>Edit Sign Up</th>
    <%end%>
  </tr>
  <%ordered_time_slots(@time_slots).each do |time_slot|%>
    <tr>
      <td><%=readable_date(time_slot)%></td>
      <td><%=readable_start_time(time_slot)%></td>
      <td><%=readable_end_time(time_slot)%></td>
      <%if params[:user_id]%>
        <td><%=link_to "Details", "/users/#{params[:user_id]}/time_slots/#{time_slot.id}"%></td>
      <%else%>
        <td><%=link_to "Details", time_slot_path(time_slot)%></td>
      <%end%>
      <%if params[:user_id]%>
        <%user_time_slot = UserTimeSlot.find_by(user_id: @user.id, time_slot_id: time_slot.id)%>
        <td><%=user_time_slot.comments%></td>
        <td><%= button_to "Delete", user_time_slot, :method => :delete%></td>
        <td><%=button_to "Edit", "/users/#{params[:user_id]}/time_slots/#{time_slot.id}/edit"%></td>
      <%end%>
    </tr>
  <%end%>
</table>
