<h2 class="container-fluid text-center">User Dashboard!</h2>

<br>

<h3> My Favorites: </h3>
<div class="container">
  <div class="row">
    <%current_user.favorites.each do |fav|%>
      <div class="col-sm-4">
        <div class="container-fluid text-center"> <a href="/workouts/<%=fav.workout.id%>"> <%=fav.workout.name%><br>
        <!--I know I can do <%= link_to fav.workout.name, workout_path(fav.workout.id) %> but I want image to be wrapped link too-->
        <img src="<%=fav.workout.photo%>" width="150" height="120" alt="Image"><br></a>
        <%=fav.workout.training_type_name%> || <%=fav.workout.duration%> Minutes</div>
        <br>
        <br>
      </div>
    <% end %>
  </div>
</div>

<h3> Added Workouts: <%= link_to "View All", user_workouts_path(current_user) %></h3>
<div class="container">
  <div class="row">
    <% current_user.workouts[0..2].each do |workout| %>
      <div class="col-sm-4">
        <div class="container-fluid text-center"> <a href="/users/<%=current_user.id%>/workouts/<%=workout.id%>"> <%=workout.name%><br>
        <!--I know I can do <%= link_to workout.name, user_workout_path(current_user,workout) %> but I want image to be wrapped link too-->
        <img src="<%=workout.photo%>" width="150" height="120" alt="Image"><br></a>
        <%=workout.training_type_name%> || <%=workout.duration%> Minutes</div>
        <br>
        <br>
      </div>
    <% end %>
  </div>
</div>

<%= link_to("Add Workout", new_user_workout_path(current_user)) %>
