<h1><%= @user.name %></h1>
<h2>Email: <%= @user.email %></h2>
<h2>Facebook UID: <%= @user.uid %></h2>
<img src="<%= @user.image %>">
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<%end%>

<h1>My Time Slots</h1>
<table border="1">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Your Comments</th>
    <th>Delete Sign Up</th>
  </tr>
  <%@user.time_slots.each do |time_slot|%>
    <%user_time_slot = UserTimeSlot.find_by(user_id: @user.id, time_slot_id: time_slot.id)%>
    <tr>
    <td><%=time_slot.readable_start_time%></td>
    <td><%=time_slot.readable_end_time%></td>
    <td><%=user_time_slot.comments%></td>
    <td><%= link_to "Delete", user_time_slot_url(user_time_slot), method: :delete, data: { confirm: "Really?" } %></td>
    </tr>
  <%end%>
</table>
