<h1><%= @user.name %></h1>
<h2>Email: <%= @user.email %></h2>
<h2>Facebook UID: <%= @user.uid %></h2>
<img src="<%= @user.image %>">

<%if @user.admin%>
  <%=link_to "Add new time slots", new_time_slot_path%>
<%end%>

<h1><%=link_to "My Time Slots", "/users/#{@user.id}/time_slots"%></h1>

<%=link_to "Sign up for time slots", new_user_time_slot_path%>
