<h1><%= @post.name %></h1>
<h1><%= @post.reps %></h1>
<h1><%= @post.time %></h1>

<%= link_to "Edit Workout", edit_post_path(@post) %><br><br>
<%= link_to "View All Workouts", posts_path(@post) %><br><br>
<%= link_to "Logout", logout_path %>
