<% if current_user %>
  <li> <%= link_to("Home", home_path) %> </li>
  <li> <%= link_to("My Dashboard", user_path(current_user)) %> </li>
  <li> <%= link_to("All Workouts", workouts_path) %> </li>
  <li> <%= link_to("Add Workout", new_workout_path) %>  </li>
  <li> <%= link_to("Sign out", destroy_user_session_path, :method => "delete") %> </li>
</ul>
 <article id="nav_helper"> <%= form_tag users_find_path do %>
      <%= text_field_tag :email, nil, placeholder: 'Enter User Email' %>
      <%= submit_tag "Find User" %> </article>
      <%end%>
<% else %>
  <li> <%= link_to("Home", root_path) %> </li>
  <li> <%= link_to("Sign in", new_user_session_path) %> </li>
  <li> <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %> </li>
  <li> <%= link_to("Sign up", new_user_registration_path) %> </li>

<% end %>
