<!DOCTYPE html>
<html>
  <head>
    <title>RailsAssessmentV000</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
  </br>
    <% if logged_in? %>
      <%= link_to "User Home Page", user_path(current_user.id), data: { turbolinks: false } %></br>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% end %>
  </body>
</html>
